:root {
  --ccp-dark-blue: hsl(204, 39%, 26%);
  --ccp-light-blue: hsl(195, 100%, 46%);
  --ccp-minerva-green: hsl(199, 100%, 21%);
  --ccp-light-green: hsl(64, 70%, 49%);
  --mdc-theme-primary: var(--ccp-minerva-green);
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: var(--ccp-minerva-green);
  margin: 0;
  max-height: 100%;
  color: black;
  overflow: hidden;
}

.heading {
  /* font-family: cholla-sans, sans-serif; */
  font-weight: 700;
  letter-spacing: calc(20rem / 1000);
  color: var(--ccp-minerva-green);
  text-align: center;
}

#flex-wrapper {
  width: 90vw;
  height: 100vh;
  margin: 0 5vw;
  display: flex;
  align-items: center;
  /*border: 2px solid blue;*/
  /*background-color: #faf5e7;*/
}

.flex-item {
  display: block;
  width: 100vw;
  height: 100vh;
  margin-top: 0vh;
  text-align: center;
  /*border: 2px solid red;*/
}

/* mail encryption */

.cryptedmail:after {
  content: attr(data-name) '@' attr(data-domain) '.' attr(data-tld);
}

.ccp-button {
  background-color: var(--ccp-minerva-green) !important;
  margin: 10px 0 !important;
}

.ccp-button:disabled {
  background-color: hsl(177, 100%, 36%) !important;
}

#footer {
  height: 8rem;
  text-align: center;
  margin-top: 20px;
}

.logo {
  max-height: 6rem;
}

.main-flex-sheet {
  display: block;
  /*flex-direction: row;*/
  width: 100%;
  height: 83%;
  align-items: center;
  justify-content: center;
  /*border: 2px solid rgb(0, 92, 0);*/
}

.flex-sheet {
  display: block;
  /* max-width: 800px; */
  width: 100%;
  height: 80%;
  /*flex-wrap: wrap;*/
  justify-content: center;
  margin-top: 0;
  /*border: 2px solid rgb(77, 255, 71);*/

}

#background_between_trials{
  width: 30%;
  border: 0.3vw solid transparent;
}

/* character + objects */

.character {
  display: block;
  width: 70%;
  height: 55%; /* 44%*/
  margin: 0 auto;
  margin-bottom: 5%;
  
}

.character img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 80%;
}

.row {
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  width: 100%;
  height: 30%;
  margin-bottom: 0;
  /*border: 2px solid rgb(120, 71, 255);*/
}
.row > div {
  /*flex: 0 50%; */
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.object {
  height: 100%; /* Matches the height of the containing div */
  width: auto; /* Width adjusts based on the image's aspect ratio */
  max-width: 100%; /* Ensures it doesn't exceed the container's width */
}

.row img:hover {
  border: 0.3vw solid grey;
}

.custom-button {
  background-color: var(--ccp-minerva-green) !important;
  color: white;
  border: none;
  margin-top: 5px;
  margin-bottom: 0;
  padding: 20px 40px;
  font-size: 25px;
  border-radius: 10px;
  cursor: pointer;
}

.custom-button:disabled {
  background-color: hsl(177, 100%, 36%) !important;
}

#background {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  border: none;
  display: block;
}

#between-trials-background {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  border: none;
  display: block;
}